@model Cisneros_LigaPro.Models.Equipo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Editar Equipo";
}

<div class="container mt-5">
    <h2>Editar Equipo</h2>
    <form asp-action="Edit" method="post" class="mt-4">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Nombre" class="form-label">Nombre del Equipo</label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="PartidosJugados" class="form-label">Partidos Jugados</label>
            <input asp-for="PartidosJugados" class="form-control" type="number" />
            <span asp-validation-for="PartidosJugados" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="PartidosGanados" class="form-label">Partidos Ganados</label>
            <input asp-for="PartidosGanados" class="form-control" type="number" />
            <span asp-validation-for="PartidosGanados" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="PartidosEmpatados" class="form-label">Partidos Empatados</label>
            <input asp-for="PartidosEmpatados" class="form-control" type="number" />
            <span asp-validation-for="PartidosEmpatados" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="PartidosPerdidos" class="form-label">Partidos Perdidos</label>
            <input asp-for="PartidosPerdidos" class="form-control" type="number" />
            <span asp-validation-for="PartidosPerdidos" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="Puntos" class="form-label">Puntos</label>
            <input asp-for="Puntos" class="form-control" type="number" />
            <span asp-validation-for="Puntos" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Guardar Cambios</button>
        <a asp-controller="Equipo" asp-action="List" class="btn btn-secondary mt-4">Cancelar</a>
    </form>
</div>